.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 10px;
}
@media (min-width: 400px) {
  ::-webkit-scrollbar {
    width: 22px;
  }
}
::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #e1d6cc 0%, #dad3c9 30%, #8db0a9 36%, #91b2ab 51%, #e1d6cc 58%);
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 0px 100vh #181818;
}
@media (min-width: 400px) {
  ::-webkit-scrollbar-thumb {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
  }
}
html {
  scroll-behavior: smooth;
}
body,
html {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  margin: 0;
}
#main {
  border-right: 5px solid #181818;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 15px;
}
section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  padding: 0 30px;
}
@media (min-width: 400px) {
  section {
    padding: 0 15vw;
  }
}
h3 {
  text-transform: uppercase;
}
#overlaySection {
  color: white;
  background-color: rgba(174, 223, 219, 0.8);
}
#aboutMeSection {
  background-color: #e1d6cc;
}
video {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#topText {
  transform: translateZ(-20px);
  position: absolute;
  top: -50vh;
  left: -54vw;
}
@media (min-width: 400px) {
  #topText {
    left: -32vw;
  }
}
h1 {
  font-size: 130px;
  display: block;
}
@media (min-width: 400px) {
  h1 {
    font-size: 168px;
  }
}
@media (min-width: 1000px) {
  h1 {
    font-size: 408px;
  }
}
h1 > span {
  background-color: #e1d6cc;
  color: black;
  text-transform: lowercase;
}
#axelPic {
  border: 5px solid #403828;
  border-radius: 10px;
  filter: drop-shadow(5px 4px 7px rgba(0, 0, 0, 0.75));
  height: auto;
  width: 50vw;
  position: absolute;
  top: 122vh;
  right: 24vw;
  transform: translateZ(7px) scale(0.4) rotateY(-0.1deg);
}
@media (min-width: 760px) {
  #axelPic {
    height: 54vh;
    width: auto;
  }
}
#section3 {
  background-image: url('img/pexels-ylanite-koppens-1445416.jpg');
  background-position: center 68%;
}
#connectSection {
  background-color: #e1d6cc;
  height: auto;
}
#credits {
  color: #e1d6cc;
  height: auto;
}
