@black: #181818;
@cream: #e1d6cc;
@tealLight: #8db0a9;

.cutive-mono-regular {
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
}  

::-webkit-scrollbar {
    width: 22px;
}
::-webkit-scrollbar-track { background: linear-gradient(180deg, rgba(225,214,204,1) 0%, rgba(218,211,201,1) 30%, rgba(141,176,169,1) 36%, rgba(145,178,171,1) 51%, rgba(225,214,204,1) 58%); }
::-webkit-scrollbar-thumb {
    background: transparent;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    box-shadow: 0px 0px 0px 100vh @black;
}

html { scroll-behavior: smooth; }

body, html {
    .cutive-mono-regular;
    height: 100%;
    margin: 0;
}

#main {
    border-right: 5px solid @black;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 15px;
}

section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 15vw;
}

h3 {
    text-transform: uppercase;
}

#overlaySection {
    color: white;
    background-color: rgb(174 223 219 / 80%);
}

#aboutMeSection {
    background-color: @cream;
}

video {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#topText {
    transform: translateZ(-20px);
    position: absolute;
    top: -50vh;
}

h1 {
    font-size: 408px;
    display: block;
    >span {
        background-color: @cream;
        color: black;
        text-transform: lowercase;
    }
}

#axelPic {
    border: 5px solid #403828;
    border-radius: 10px;
    filter: drop-shadow(5px 4px 7px rgba(0,0,0,0.75));
    height: 54vh;
    width: 28vw;
    position: absolute;
    top: 122vh;
    right: 24vw;
    transform: translateZ(7px) scale(0.4) rotateY(-0.1deg);
}

#section3 {
    background-image: url('img/pexels-ylanite-koppens-1445416.jpg');
    background-position: center 68%;
}

#connectSection {
    background-color: @cream;
    height: auto;
}

#credits {
    color: @cream;
    height: auto;
}