@import 'styling/keyframes.css';

@screen-xs: 400px;
@screen-sm: 760px;
@screen-md: 1000px;
@screen-lg: 1400px;

@black: #181818;
@cream: #e1d6cc;
@offWhite: #f1ede9;
@tealLight: #8db0a9;

.cutive-mono-regular {
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 10px;
    @media(min-width: @screen-xs) { width: 22px; }
}
::-webkit-scrollbar-track { background: linear-gradient(180deg, rgba(225,214,204,1) 0%, rgba(218,211,201,1) 30%, rgba(141,176,169,1) 36%, rgba(145,178,171,1) 51%, rgba(225,214,204,1) 58%); }
::-webkit-scrollbar-thumb {
    background: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 0px 100vh @black;
    @media(min-width: @screen-xs) {
        border-top-right-radius: 22px;
        border-bottom-right-radius: 22px;
    }
}

html { scroll-behavior: smooth; }

body, html {
    .cutive-mono-regular;
    height: 100%;
    margin: 0;
}

ul { padding-left: 20px; }

#main {
    border-right: 5px solid @black;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 15px;
}

section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    padding: 30px;
    @media(min-width: @screen-xs) { padding: 5vh 10vw; }
    @media(min-width: @screen-md) { padding: 5vh 15vw; }
}

h3 {
    font-size: 38px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

#intro {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
}

#h2Cover {
    animation: introNameBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 12s;
    background: #f4aa22;
    background: url('img/pexels-paduret-4049613.png') no-repeat;
    display: flex;
    height: 100%;
    position: absolute;
    width: 0%;
    z-index: 2;
}

#aboutMeSection {
    background-color: @cream;
    border-top: 1px solid @black;
    border-bottom: 1px solid @black;
    z-index: 1;
    p, ul {
        @media(min-width: 1500px) { padding-right: 34vw; }
        @media(min-width: 1650px) { padding-right: 32vw; }
    }
}

video {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#topText {
    display: flex; flex-flow: column wrap;
    position: absolute; top: 29vh; left: -54vw;
    transform: translateZ(-40px);
    z-index: 0;
    @media(min-width: @screen-xs) { left: -25vw; }
    @media(min-width: @screen-sm) {
        align-items: flex-end;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

h1 {
    color: #dadcde;
    font-size: 130px;
    display: block;
    line-height: 0.8;
    margin: 0;
    text-transform: lowercase;
    @media(min-width: @screen-xs) { font-size: 180px; }
    @media(min-width: @screen-sm) { font-size: 30vw; }
    >span {
        display: flex;
        &:first-child { padding-left: 5%; }
        >span {
            animation: showName 10s forwards;
            opacity: 0;
        }
    }
}

#firstName >span {
    &:nth-child(1) { animation-delay: 0.5s;}    
    &:nth-child(2) { animation-delay: 1.5s;}
    &:nth-child(3) { animation-delay: 2s;}
    &:nth-child(4) { animation-delay: 4s;}
}

#lastName >span {
    &:nth-child(1) { animation-delay: 4.5s;}
    &:nth-child(2) { animation-delay: 5s;}
    &:nth-child(3) { animation-delay: 5s;}
    &:nth-child(4) { animation-delay: 5.5s;}
    &:nth-child(5) { animation-delay: 6s;}
    &:nth-child(6) { animation-delay: 6s;}
    &:nth-child(7) { animation-delay: 6.5s;}
}

#title {
    position: relative; top: 15vh;
    @media(min-width: @screen-sm) {
        top: -17vh;
        right: 0;
    }
}

h2 {
    animation: showName 3s forwards;
    animation-delay: 12s;
    font-size: 6vw;
    font-weight: 100;
    margin: 0;
    opacity: 0;
    padding: 6vh 3vw 6vh 4vw;
    position: relative;
    text-transform: lowercase;
    @media(min-width: @screen-sm) { font-size: 2vw; }
    &:after {
        content: '';
        background-color: rgb(24 24 24 / 50%);
        height: 1px; width: 100%;
        position: absolute; bottom: 3vh; left: 2vw;
    }
}

#axelPic {
    height: auto; width: 100vw;
    margin-left: -2vw;
    z-index: 2;
    @media(min-width: @screen-sm) {
        border: 5px solid #403828;
        border-radius: 10px;
        filter: drop-shadow(5px 4px 7px rgba(0,0,0,0.75));
        margin: 0;
        position: absolute; top: 136vh; right: 10vw;
        transform: translateZ(7px) scale(0.4) rotateY(-0.03deg);
        height: 30vh; width: auto;
    }
    @media(min-width: @screen-md) {
        height: 45vh;
        right: 12vw;
    }
    @media(min-width: 1400px) { right: 14vw; }
    @media(min-width: 1800px) { right: 20vw; }
}

#projectsSection { background-image: url('img/pexels-zaksheuskaya-709412-1568607.jpg'); }

#projects-Demos {
    top: 34vh;
    left: 48vw;
}

.project-group {
    position: absolute;
    transition: all 2s ease-in-out;
    h4 {
        color: @black;
        font-size: 20px;
        letter-spacing: 1px;
        position: relative;
        text-transform: uppercase;
    }
    &:before {
        content: '';
        background: rgba(255,255,255,0.6);
        border: 2px solid #ff7f50;
        height: 200px; width: 200px;
        position: absolute; left: -84px; top: -94px;
        transform: rotate(65deg);
        transition: all .5s ease-in-out;
    }
    &:after {
        content: '';
        border: 2px solid #000000;
        height: 200px; width: 200px;
        position: absolute; left: -84px; top: -94px;
        transform: rotate(45deg);
        transition: all .5s ease-in-out;
    }
    &:hover, &:focus, &:active {
        &:before { transform: rotate(50deg); }
        &:after { transform: rotate(85deg); }
        >.project-link {
            opacity: 1;
            pointer-events: auto;
            transform: scale(1);
        }
    }
}

#projects-Archives {
    top: 62vh; right: 15vw;
    &:before {
        border-radius: 50%;
    }
    &:after {
        border-radius: 50%;
        height: 260px; width: 260px;
    }
    &:hover, &:focus, &:active {
        &:before {
            height: 280px; width: 280px;
        }
        &:after {
            height: 220px; width: 220px;
        }
    }
}

.project-link {
    background-color: #ff7f50;
    box-shadow: 0px 0px 0px @offWhite;
    color: @black;
    display: flex; flex-direction: column;
    font-weight: 700;
    opacity: 0;
    padding: 8px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    transform: scale(0.1);
    z-index: 1;
    >span {
        padding: 12px 0 6px;
    }
    &--old-portfolio {
        top: -23vh; left: 100px;
    }
    &:hover, &:focus, &:active {
        box-shadow: 0px 0px 5px @black;
        >.project-link-img {
            filter: brightness(1);
        }
    }
}

.project-link-img {
    filter: brightness(0.92);
    max-width: 300px;
    transition: all 0.5s ease-in-out;
}

#connectSection {
    background-color: @cream;
    height: auto;
}

#connectSectionText {
    position: relative;
    >span {
        display: block;
        &:first-child {
            padding-bottom: 30px;
            width: 66%;
        }
    }
}

#connectList {
    display: flex;
    font-size: 60px;
    margin: 0;
    position: absolute; top: 0; left: 67%;
    >li {
        display: inline-block;
        padding: 0 10px;
    }
    a {
        color: @tealLight;
        filter: drop-shadow(1px 1px 1px @black);
        padding: 10px;
        position: relative; top: 1px;
        transition: all .15s ease-in-out;
        &:hover, &:focus, &:active {
            color: lighten(@tealLight, 5%);
            top: -3px;
        }
    }
}

#axelWriting {
    margin-left: 50%;
    max-width: 280px;
}

#credits {
    background-image: url('img/pexels-zaksheuskaya-709412-1568607.jpg');
    color: @black;
    font-weight: 700;
    height: auto;
}