.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 10px;
}
@media (min-width: 400px) {
  ::-webkit-scrollbar {
    width: 22px;
  }
}
::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #e1d6cc 0%, #dad3c9 30%, #8db0a9 36%, #91b2ab 51%, #e1d6cc 58%);
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 0px 100vh #181818;
}
@media (min-width: 400px) {
  ::-webkit-scrollbar-thumb {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
  }
}
html {
  scroll-behavior: smooth;
}
body,
html {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  margin: 0;
}
ul {
  padding-left: 20px;
}
#main {
  border-right: 5px solid #181818;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 15px;
}
section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  padding: 30px;
}
@media (min-width: 400px) {
  section {
    padding: 5vh 10vw;
  }
}
@media (min-width: 1000px) {
  section {
    padding: 5vh 15vw;
  }
}
h3 {
  margin: 0 0 10px;
  text-transform: uppercase;
}
#overlaySection {
  align-items: center;
  background-color: rgba(174, 223, 219, 0.8);
  color: white;
  flex-direction: row;
}
#aboutMeSection {
  background-color: #e1d6cc;
  border-top: 1px solid #181818;
  border-bottom: 1px solid #181818;
  z-index: 1;
}
@media (min-width: 1500px) {
  #aboutMeSection p,
  #aboutMeSection ul {
    padding-right: 34vw;
  }
}
@media (min-width: 1650px) {
  #aboutMeSection p,
  #aboutMeSection ul {
    padding-right: 32vw;
  }
}
video {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#topText {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 0;
  left: -54vw;
  transform: translateZ(-20px);
  z-index: 0;
}
@media (min-width: 400px) {
  #topText {
    left: -32vw;
  }
}
@media (min-width: 760px) {
  #topText {
    align-items: flex-end;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
h1 {
  font-size: 130px;
  display: block;
  margin: 0;
}
@media (min-width: 400px) {
  h1 {
    font-size: 168px;
  }
}
@media (min-width: 1000px) {
  h1 {
    font-size: 246px;
  }
}
@media (min-width: 1400px) {
  h1 {
    font-size: 408px;
  }
}
h1 > span {
  background-color: #e1d6cc;
  color: black;
  text-transform: lowercase;
}
h2 {
  background-color: rgba(5, 5, 5, 0.3);
  border: 1px solid black;
  font-size: 50px;
  font-weight: 100;
  margin: 0;
  padding: 4vw;
  position: relative;
  text-transform: lowercase;
}
@media (min-width: 760px) {
  h2 {
    font-size: 4vw;
    max-width: 25vw;
    position: absolute;
    top: 22vh;
    right: 0;
  }
}
#axelPic {
  height: auto;
  width: 100vw;
  margin-left: -2vw;
  z-index: 2;
}
@media (min-width: 760px) {
  #axelPic {
    border: 5px solid #403828;
    border-radius: 10px;
    filter: drop-shadow(5px 4px 7px rgba(0, 0, 0, 0.75));
    margin: 0;
    position: absolute;
    top: 134vh;
    right: 10vw;
    transform: translateZ(7px) scale(0.4) rotateY(-0.1deg);
    height: 30vh;
    width: auto;
  }
}
@media (min-width: 1000px) {
  #axelPic {
    height: 46vh;
    right: 12vw;
  }
}
@media (min-width: 1400px) {
  #axelPic {
    height: 54vh;
    right: 14vw;
  }
}
@media (min-width: 1800px) {
  #axelPic {
    right: 20vw;
  }
}
#section3 {
  background-image: url('img/pexels-ylanite-koppens-1445416.jpg');
  background-position: center 68%;
}
#connectSection {
  background-color: #e1d6cc;
  height: auto;
}
#connectSectionText {
  position: relative;
}
#connectSectionText > span {
  display: block;
}
#connectSectionText > span:first-child {
  padding-bottom: 30px;
  width: 66%;
}
#connectList {
  display: flex;
  font-size: 60px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 67%;
}
#connectList > li {
  display: inline-block;
  padding: 0 10px;
}
#connectList a {
  color: #8db0a9;
  filter: drop-shadow(1px 1px 1px #181818);
  padding: 10px;
  position: relative;
  top: 1px;
  transition: all 0.15s ease-in-out;
}
#connectList a:hover,
#connectList a:focus,
#connectList a:active {
  color: #9cbab4;
  top: -3px;
}
#axelWriting {
  margin-left: 50%;
  max-width: 280px;
}
#credits {
  color: #e1d6cc;
  height: auto;
}
